@import url(style.css);

.wrap-regulation {
    display: block;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    margin: 5em auto;
    padding: 3rem;
    background-color: #5bd1d7;
    border: #004d61 solid 0.6rem;
    border-radius: 2rem;
    font-family: Rubic-Regular, sans-serif;
    text-align: justify;
}

.regulation {
    text-align: center;
}